*{
    font-family: Arial, Helvetica, sans-serif;
}



header{
    background-color: #0ea5e9;
    color: aliceblue;
    text-align: center;
    padding: 30px;
   border-radius: 20px;
    
}

nav{
    margin: 5px;
    background-color: aliceblue;
    text-align: center;
    padding: 10;
    border-radius: 10px;
    
    
}


.hover{
    text-decoration: none;
    font-weight: bold;
    color : #0284c7;
    display: inline-block;
}

a:hover{
    transform: scale(1.1);
    background-color: #0284c7;
    color: azure;
}



.card{
    margin: 20px;
    background-color: rgb(243, 243, 243);
    box-shadow: 5px 10px 20px rgba(0, 0, 0 , 0.2);
    border-radius: 20px;
    padding: 20px;
}


.card2{
    margin: 20px;
    background-color: rgb(230, 232, 240);
    box-shadow: -12px 5px  rgba(8, 86, 255, 0.2);
    border-radius: 20px;
    padding: 20px;
}

li{
    list-style: none;
}


li::before{
    content: "✔️";
}


footer{
    background-color: rgb(53, 48, 48);
    color: aliceblue;
    text-align: center;
    margin: 0px;
    border-radius: 20px;
    padding: 5px;
}